.App {
  text-align: center;
}

body {
  margin: 0;
}

.NavBar img {
  height: 8vh;
}

.NavBar h1, a {
  padding-right: 20px;
  padding-left: 20px;
}

.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(110, 198, 152);
  max-width: 100%;
}

.map {
 }

 .mapMargin {
   margin: 40px;
 }

button {
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(110, 198, 152);
  color: black;
  border-width: 2px;
  border-color: black;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  outline: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #FFFFFF;
  color: rgba(110, 198, 152);
  border-color: rgba(110, 198, 152);
}
