body {
  margin: 0;
}

.NavBar img {
  height: 8vh;
}

.NavBar h1, a {
  padding-right: 20px;
  padding-left: 20px;
}

.NavBar {
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(110, 198, 152);
  max-width: 100%;
}

.Map {
  background-color: rgba(242, 242, 242, 1);
}

 .mapMargin {
   padding: 40px;
 }

.mapSize {
  height: 60vh;
  width: 100%;
}

.mapElement {
  height: 100%;
}

.ReportForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(110, 198, 152);
  max-width: 100%;
}

button {
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(110, 198, 152);
  color: #FFFFFF;
  border-color: rgba(110, 198, 152);
  border-width: 2px;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  outline: none;
  margin: 5px;
}

button:hover {
  background-color: white;
  color: rgba(110, 198, 152);
}

.issues {
  overflow-y: scroll;
  max-height: 15vh;
  border-radius: 10px;
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}

.issue {
  color: rgba(110, 198, 152);
  padding: 10px;
  font-size: 20px;
}
