.Display {
  display: inline-block;
  border-radius: 10px;
  background-color: rgba(110, 198, 152);
  color: black;
  border-width: 2px;
  border-color: black;
  text-align: center;
  font-size: 22px;
  padding: 20px;
  outline: none;
  cursor: pointer;
  margin: 5px;
}
